aiohttp==3.5.4
async-timeout==3.0.1
attrs==18.2.0
chardet==3.0.4
future==0.17.1
idna==2.8
multidict==4.5.2
numpy==1.16.1
opencv-python==4.0.0.21
portpicker==1.3.0
protobuf==3.6.1
pyglet==1.3.2
PySide2==5.12.1
s2clientprotocol==4.8.71061.0
sc2==0.11.0
shiboken2==5.12.1
six==1.12.0
websockets==7.0
yarl==1.3.0
